@font-face {
    font-family: batman;
    src: url("../../../../public/customFont.ttf");
  }

#Footer{
    margin-top: 100px;
}

#Footer h1{
    margin-bottom: 40px;
    font-family: "batman";
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(    #0080bf, #00acdf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dev {
    height: 200px;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 768px) {
    #Footer h1{
        font-size: 2rem;
        font-weight: 500;
    }  
    #dev {
        height: 150px;
    }
}