@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home_slider {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
}


.home_slider div {
    width: 500px;
}

.home_slider h1 {
    font-size: 3rem;
    margin: 1rem 0;
    font-weight: 900;
    background: -webkit-linear-gradient(    #0080bf, #00acdf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 768px) {

    .home_slider {
        margin: 2rem;
    }

    .home_slider div {
        width: 100%
    }

    .home_slider h1 {
        font-size: 2rem;
        margin: 1rem 0;
        font-weight: 900;
        background: -webkit-linear-gradient(    #0080bf, #00acdf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}