@font-face {
    font-family: batman;
    src: url("../../../../public/customFont.ttf");
  }

#tech-stack-div, #ref-div{
    margin-top: 100px;
}

#tech-stack-div h1, #ref-div h1{
    margin-bottom: 40px;
    font-family: "batman";
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(    #0080bf, #00acdf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tech-stack-div div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#tech-stack-div img {
    height: 110px;
    margin: 1rem;
}


#ref-div li {
    margin: 10px 10vw;
    font-size: 1.5rem;
    font-weight: bold;
}

#ref-div a {
    margin-left: 10px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #tech-stack-div h1, #ref-div h1{
        font-size: 2rem;
        font-weight: 500;
    }
    #tech-stack-div img {
        height: 75px;
        margin: 1rem;
    }
    #ref-div li {
        font-size: 1.1rem;
    }
}